.MuiOutlinedInput-notchedOutline {
    border-color: white !important;
    border-width: 2px !important;
}

.MuiSelect-icon {
    color: white !important;
}

.MuiAutocomplete-inputRoot {
    height: 3rem !important;
}

#country-select-demo-label {
    color: white !important;
    line-height: 18px;
}

.MuiAutocomplete-inputRoot .MuiSvgIcon-fontSizeMedium {
    color: white;
}

#country-select-demo {
    color: white;
}
